*{
	padding: 0px;
	margin:0px;
}
.container1{
	height: auto;
	width: 100%;
}

.upperportion{
	height: 90%;
	width: 65%;
	margin-right: 10%;
	margin-left: 17%;
}


.service{
	width: 100%;
	height: 5%;
	position: relative;
	float: left;
}

.search{
	width: 100%;
	height: 5%;
	position: relative;
	float: left;
}

.find_blood
{
	margin-left: 33%;
}

.container2
{
	height: 100%;
	width: 100%;
}

.login
{
	height: 50%;
	width: 40%;
	margin-top: 10%;
	margin-left: 30%;
	margin-right: 30%;
}

.full
{
	width: 100%;
}

.emergency
{
	height: 30%;
	width: 100%;
}

.ambulance
{
	float: left;
	width: 50%;
}

.blood_bank
{
	float: left;
	width: 50%;
}

.margin
{
	margin-left: 20%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .footer_section {
	width: 100%;
	margin-top: 15px;
	min-height: 50px;
	float: left;
}

.footer_section p {
	text-align: center;
	font-size: 14px;
	line-height: 45px;
	color: #fff;
}